@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
    background-color: black; /* Ensure it is visible */
  }

  * {
    font-family: 'Outfit'
  }

  .prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 640px) {
    a.active {
      background-color: black;
      color: white;

    }
  }
  
  
  /* Optionally, you can hide hr by default and only show on active */
 